<div data-smart-include="app/home/partials/header.html" class="placeholder-header"></div>

<div class="container-fluid home-container animated fadeIn">
    <!--<div class="row">
        <div class="col-sm-5 padding-0">
            <img class="img-responsive" src="./styles/img/home/home_bg_1.jpg">
        </div>
        <div class="col-sm-7 padding-0">
            <img class="img-responsive" src="./styles/img/home/home_bg_2.jpg">
        </div>
    </div>-->
    <div class="row">
        <div class="col-sm-12 padding-0">
            <img class="img-responsive" src="./styles/img/home/home_bg_6.png">
        </div>
    </div>

</div>

<div data-smart-include="app/home/partials/footer.html" class="placeholder-header"></div>