/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

ul[data-smart-menu] {
    cursor: pointer;
}

body:not(.menu-on-top).desktop-detected {
    min-height: inherit !important;
}

.width-full {
    width: 100%;
}

.max-width-50 {
    max-width: 50px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-200 {
    max-width: 200px;
}

.table-text-center th, .table-text-center td {
    text-align: center;
    vertical-align: middle;
}

.border-white {
    border-color: white;
}

.loading-sheath {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: block;
    position: absolute;
    z-index: 903; /* under left sidebar menu */
    height: 100%;
}

.loading-sheath .icon {
    color: grey;
    margin-top: 150px;
    margin-left: calc(50% - 23px);
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 90%;
    }
}

.selected-row {
    background-color: #00A6C7;
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.padding-0 {
    padding: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.smart-style-4 #header > :first-child {
    background: transparent;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.st-selected {
    background-color: #69d2f5;
}

nav ul.pagination {
    margin: 0 !important;
}

nav ul.pagination {
    width: auto;
}

nav ul.pagination li a {
    padding: 5px 10px;
}

nav ul.pagination li a:before {
    background-image: none !important;
    border: 0 !important;
}

.text-grey {
    color: lightgrey;
}

.text-danger {
    color: #ef9001;
}

.table-text-center th, .table-text-center td {
    text-align: center;
}

.moment-picker {
    z-index: 2000 !important;
}

.fc-border-separate thead tr th, .table thead tr th {
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#f2f2f2), to(#fafafa));
    background-image: -webkit-linear-gradient(top, #f2f2f2 40%, #fefefe 80%);
    background-image: -moz-linear-gradient(top, #f2f2f2 40%, #fefefe 80%);
    background-image: -ms-linear-gradient(top, #f2f2f2 40%, #fefefe 80%);
    background-image: -o-linear-gradient(top, #f2f2f2 40%, #fefefe 80%);
    font-size: 12px;
}

.header-section {
    background: white;
    height: 70px;
    border-bottom: 2px solid #8bc53f;
    -webkit-box-shadow: 0 10px 30px -10px black;
    -moz-box-shadow: 0 10px 30px -10px black;
    box-shadow: 0 10px 30px -10px black;
}

.header-section .top-menu {
    padding-top: 40px;
    font-size: large;
}

@media only screen and (max-width: 768px) {
    .header-section .top-menu {
        padding-top: 20px;
        font-size: inherit;
    }
    .header-section .top-menu div {
        margin: 0 3px;
    }
    .logo-text {
        display: none;
    }
}

.header-section .top-menu div {
    margin: 0 10px;
}

.header-section .top-menu div.active {
    border-bottom: 3px solid #8bc53f;
}

.footer-section {
    background: white;
    border-top: 2px solid #479847;
    padding: 10px;
    text-align: center;
}

.footer-section .bottom-menu div {
    margin: 0 10px;
}

.btn-sign-in {
    margin-top: 18px;
    margin-right: 18px;
}