/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

ul[data-smart-menu] {
    cursor: pointer;
}

.max-width-50 {
    max-width: 50px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-200 {
    max-width: 200px;
}

.table-text-center th, .table-text-center td {
    text-align: center;
    vertical-align: middle;
}

.border-white {
    border-color: white;
}

.loading-sheath {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: block;
    position: absolute;
    z-index: 4000;
    height: 100%;
}

.loading-sheath .icon {
    color: grey;
    margin-top: 150px;
    margin-left: calc(50% - 23px);
}