<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <ul data-smart-menu>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.admin" title="Outlook">
                    <i class="fa fa-lg fa-fw fa-tachometer"></i> <span class="menu-item-parent">{{getWord('Dashboard')}}</span><span
                        unread-messages-count class="badge pull-right inbox-badge"></span></a>
            </li>

            <li data-menu-collapse>
                <a href="#" title="Administrator"><i class="fa fa-lg fa-fw fa-user"></i> <span
                        class="menu-item-parent">{{getWord('Administrator')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.admin.referee-grades">{{getWord('Referee Grades')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.admin.referees">{{getWord('Referee Management')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.dashboard">{{getWord('Coach Level License')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.dashboard-social">{{getWord('Sport Type')}}</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse class="top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">{{getWord('Club Executives')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts"><i class="fa fa-gear"></i>
                            {{getWord('Leagues')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.prebuiltSkins"><i class="fa fa-picture-o"></i>
                            {{getWord('Leagues Season')}}</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse class="top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">{{getWord('Team Management')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts"><i class="fa fa-gear"></i>
                            {{getWord('Teams')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.prebuiltSkins"><i class="fa fa-picture-o"></i>
                            {{getWord('Coaches')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.prebuiltSkins"><i class="fa fa-picture-o"></i>
                            {{getWord('Players')}}</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse class="top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">{{getWord('Game Management')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts"><i class="fa fa-gear"></i>
                            {{getWord('Games')}}</a>
                    </li>
                </ul>
            </li>


            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">{{getWord('User Management')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.graphs.flot">{{getWord('Users')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.graphs.morris">{{getWord('Permissions')}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>