<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Field Management']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="text-right margin-bottom-10">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="vm.addNew()">Add New</button>
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Field Management</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Field Name</th>
                                        <th>Soccer</th>
                                        <th>Synthetic Turf</th>
                                        <th>Restrooms</th>
                                        <th>Location</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in vm.tableData" ng-dblclick="vm.openModal(row.id)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.field_name}}</td>
                                        <td>{{!!row.soccer ? 'Yes' : 'No'}}</td>
                                        <td>{{!!row.synthetic_turf ? 'Yes' : 'No'}}</td>
                                        <td>{{!!row.restrooms ? 'Yes' : 'No'}}</td>
                                        <td>{{row.location}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="vm.editRow(row.id)" data-toggle="modal" data-target="#myModal">Edit</a> /
                                            <a ng-click="vm.deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Field Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Field Name" type="text" ng-model="vm.currRow.field_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Soccer</label>
                        <div class="col-md-8 smart-form">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox" checked="checked" ng-model="vm.currRow.soccer">
                                <i></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Synthetic Turf</label>
                        <div class="col-md-8 smart-form">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox" checked="checked" ng-model="vm.currRow.synthetic_turf">
                                <i></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Restrooms</label>
                        <div class="col-md-8 smart-form">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox" checked="checked" ng-model="vm.currRow.restrooms">
                                <i></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Location</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Location" type="text" ng-model="vm.currRow.location">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
