<loading visible="loading"></loading>
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Game Records']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="text-right margin-bottom-10">
        <div class="col-xs-5 col-md-4 col-lg-3 form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">League</label>
                <div class="col-md-10">
                    <select class="form-control"
                            ng-change="getGameSchedules()"
                            ng-model="currLeague"
                            ng-options="item as item.competition_name + '(' + seasons[item.season] + ' - ' + item.start_date.substr(0, 4) + ')' for item in leagues track by item.id">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-3 form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Game</label>
                <div class="col-md-10">
                    <select class="form-control" ng-change="getData()"
                            ng-model="currGame"
                            ng-options="item as item.game_name for item in games track by item.id">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-lg-6">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="addRow()" ng-disabled="!games.length">Add New</button>
        </div>
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Game Records</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table st-table="tableData" st-safe-src="safeData" st-select-mode="multiple" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Team</th>
                                        <th>Player Name</th>
                                        <th>Player Number</th>
                                        <th>Record Item</th>
                                        <th>Point</th>
                                        <th>Record Time</th>
                                        <th>Reason</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tableData" ng-dblclick="editRow(row)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.team_name}}</td>
                                        <td>{{row.first_name}} {{row.last_name}}</td>
                                        <td>{{row.player_number}}</td>
                                        <td>{{getRecordItem(row.item_id)['item_name']}}</td>
                                        <td>{{row.point * 1 > 0 ? 1 : 0}}</td>
                                        <td>{{row.record_time}}</td>
                                        <td>{{row.reason}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="editRow(row)">Edit</a> /
                                            <a ng-click="deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9">
                                            <div class="padding-40 text-center" ng-if="!tableData.length"><br/>There is no records.<br/><br/></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="9" class="text-center">
                                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Team</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="currRow.team_id" ng-change="currRow.player_id = getCurrTeam().players[0].id">
                                <option ng-repeat="team in teams" value="{{team.id}}">{{team.club_name}} - {{team.team_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Player</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="currRow.player_id">
                                <option ng-repeat="player in getCurrTeam()['players'] | orderBy:'player_number*1'" value="{{player.id}}">{{player.player_number}} - {{player.first_name}} {{player.last_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Record Item</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="currRow.item_id" ng-change="currRow.reason = ''">
                                <option ng-repeat="r in recordItems" value="{{r.id}}">{{r.item_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="getRecordItem(currRow.item_id)['item_type'] == '2'">
                        <label class="col-md-3 control-label">Point</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="currRow.point">
                                <option value="1">Good</option>
                                <option value="-1">Bad</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Record Time</label>
                        <div class="col-md-9">
                            <div class="input-group" moment-picker="currRow.record_time" format="HH:mm:ss">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <input class="form-control" placeholder="Select a time" ng-model="currRow.record_time"ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Reason</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="currRow.reason">
                                <option ng-repeat="(key, val) in reasons[getRecordItem(currRow.item_id)['item_name']]" value="{{key}}">{{key}}</option>
                            </select>
                            <div class="padding-10">
                                {{reasons[getRecordItem(currRow.item_id)['item_name']][currRow.reason]}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
