<loading visible="vm.loading"></loading>
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Game Schedules']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="row margin-bottom-10 form-horizontal">
        <div class="col-xs-6 col-sm-4">
            <label class="col-xs-2 text-right control-label">Period:</label>
            <div class="col-xs-10 smart-form">
                <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" placeholder="From">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="finishdate" id="finishdate" data-smart-datepicker data-max-restrict="#startdate" placeholder="End Date">
                    </label>
                </section>
            </div>
        </div>
        <div class="col-xs-6 col-sm-8 text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="vm.addNew()">Add New</button>
        </div>
    </div>

    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Game Schedules</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered table-text-center">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>League</th>
                                        <th>Home Team</th>
                                        <th>Away Team</th>
                                        <th>Date of Game</th>
                                        <th>Start Time</th>
                                        <th>Arrival Time</th>
                                        <th>Duration of Game</th>
                                        <th>Location</th>
                                        <th>Uniform</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in vm.tableData" ng-dblclick="vm.openModal(row.id)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{vm.getLeagueNameById(row.league_id)}}</td>
                                        <td>{{vm.getTeamById(vm.homeTeams, row.home_team_id)['team_name']}}</td>
                                        <td>{{vm.getTeamById(vm.awayTeams, row.away_team_id)['team_name']}}</td>
                                        <td>{{row.game_date}}</td>
                                        <td>{{row.start_time}}</td>
                                        <td>{{row.arrival_time}}</td>
                                        <td>{{row.duration}}</td>
                                        <td>{{vm.getFieldById(row.field_id)['field_name']}}</td>
                                        <td>{{row.uniform}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="vm.editRow(row.id)" data-toggle="modal" data-target="#myModal">Edit</a> /
                                            <a ng-click="vm.deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">League</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.currRow.league_id">
                                <option ng-repeat="g in vm.leagues" value="{{g.id}}">{{g.competition_name}} - {{vm.seasons[g.season]}} ({{g.start_date.substr(0, 4)}})</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Home Club/Team</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.currRow.home_team_id">
                                <option ng-repeat="t in vm.homeTeams" value="{{t.id}}">{{t.club_name}} / {{t.team_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Away Club/Team</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.currRow.away_team_id">
                                <option ng-repeat="t in vm.awayTeams" value="{{t.id}}">{{t.club_name}} / {{t.team_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Date of Game</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Date of Game" type="text" ng-model="vm.currRow.game_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Start Time</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Start Time" type="text" ng-model="vm.currRow.start_time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Arrival Time</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Arrival Time" type="text" ng-model="vm.currRow.arrival_time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Duration of Game</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Duration of Game" type="text" ng-model="vm.currRow.duration">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-md-4 control-label">Opponent Team</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Opponent Team" type="text" ng-model="vm.currRow.opp_team_id">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Location</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.currRow.field_id">
                                <option ng-repeat="f in vm.fields" value="{{f.id}}">{{f.field_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Uniform</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Uniform" type="text" ng-model="vm.currRow.uniform">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
