<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Person Management']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="text-right margin-bottom-10">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="vm.addNew()">Add New</button>
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Person Management</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Photo</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Short Name</th>
                                        <th>Birthday</th>
                                        <th>Gender</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Home Phone</th>
                                        <th>Cell Phone</th>
                                        <th>Contact Name</th>
                                        <th>Contact Email</th>
                                        <th>Contact Phone</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in vm.tableData" ng-dblclick="vm.openModal(row.id)">
                                        <td>{{$index + 1}}</td>
                                        <td><img class="max-width-50" ng-src="{{row.image}}"></td>
                                        <td>{{row.first_name}}</td>
                                        <td>{{row.last_name}}</td>
                                        <td>{{row.short_name}}</td>
                                        <td>{{row.birthday.substr(0, 10)}}</td>
                                        <td>{{row.gender == 0 ? 'Male' : 'Female'}}</td>
                                        <td>{{row.address}}</td>
                                        <td>{{row.email}}</td>
                                        <td>{{row.home_phone}}</td>
                                        <td>{{row.cell_phone}}</td>
                                        <td>{{row.contact_name}}</td>
                                        <td>{{row.contact_email}}</td>
                                        <td>{{row.contact_phone}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="vm.openModal(row.id)">Edit</a> /
                                            <a ng-click="vm.deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">First Name</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="First Name" type="text" ng-model="vm.currRow.first_name">
                        </div>
                        <label class="col-md-2 control-label">Last Name</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Last Name" type="text" ng-model="vm.currRow.last_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Short Name</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Short Name" type="text" ng-model="vm.currRow.short_name">
                        </div>
                        <label class="col-md-2 control-label">Birthday</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Birthday" type="date" ng-model="vm.currRow.birthday">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Gender</label>
                        <div class="col-md-4">
                            <select class="form-control" ng-model="vm.currRow.gender">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label">Address</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Address" type="text" ng-model="vm.currRow.address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Email" type="text" ng-model="vm.currRow.email">
                        </div>
                        <label class="col-md-2 control-label">Home Phone</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Home Phone" type="text" ng-model="vm.currRow.home_phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cell Phone</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Cell Phone" type="text" ng-model="vm.currRow.cell_phone">
                        </div>
                        <label class="col-md-2 control-label">Contact Name</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Contact Name" type="text" ng-model="vm.currRow.contact_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Contact Email</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Contact Email" type="text" ng-model="vm.currRow.contact_email">
                        </div>
                        <label class="col-md-2 control-label">Contact Phone</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Contact Phone" type="text" ng-model="vm.currRow.contact_phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Photo</label>
                        <div class="col-md-4">
                            <input type="file" class="form-control" fileinput="file" filepreview="vm.currRow.image"/>
                            <img ng-src="{{vm.currRow.image}}" class="img-responsive margin-top-10 max-width-100" dng-show="vm.currRow.image"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
