<loading visible="vm.loading"></loading>
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Player Management']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="row margin-bottom-10 form-horizontal">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label class="col-xs-2 text-right control-label">Club:</label>
            <div class="col-xs-10">
                <select class="form-control" ng-change="vm.getTeams()" ng-model="vm.currClubId">
                    <option ng-repeat="club in vm.clubs" value="{{club.id}}">{{club.club_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label class="col-xs-2 text-right control-label">Team:</label>
            <div class="col-xs-10">
                <select class="form-control" ng-change="vm.getData()" ng-model="vm.currTeamId">
                    <option ng-repeat="team in vm.teams" value="{{team.id}}">{{team.team_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6 text-right">
            <button class="btn btn-primary" id="importBtn" data-toggle="modal" data-target="#importModal">Import</button>
        </div>
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget data-widget-color="darken" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Player Management</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Photo</th>
                                        <th>Player ID</th>
                                        <th>Player Number</th>
                                        <th>Position</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Birthday</th>
                                        <th>Email</th>
                                        <th>Cell</th>
                                        <th>Emergency Contact Name</th>
                                        <th>Emergency Contact Number</th>
                                        <th>Emergency Contact Email</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in vm.tableData" ng-dblclick="vm.openModal(row.id)">
                                        <td>{{$index + 1}}</td>
                                        <td><img class="max-width-50" ng-src="{{vm.getPersonById(row.person_id)['image']}}"></td>
                                        <td>{{row.identifier}}</td>
                                        <td>{{row.player_number}}</td>
                                        <td>{{vm.getPositionName(row.position_id)}}</td>
                                        <td>{{vm.getPersonById(row.person_id)['first_name']}}</td>
                                        <td>{{vm.getPersonById(row.person_id)['last_name']}}</td>
                                        <td>{{vm.getPersonById(row.person_id)['birthday']}}</td>
                                        <td>{{vm.getPersonById(row.person_id)['email']}}</td>
                                        <td>{{vm.getPersonById(row.person_id)['cell_phone']}}</td>
                                        <td>{{vm.getPersonById(row.person_id)['contact_name']}}</td>
                                        <td>{{vm.getPersonById(row.person_id)['contact_email']}}</td>
                                        <td>{{vm.getPersonById(row.person_id)['contact_phone']}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="vm.editRow(row.id)" data-toggle="modal" data-target="#myModal">Edit</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12">
                <div jarvis-widget data-widget-color="darken" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Edit</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <ui-select multiple ng-model="vm.personIds" on-select="vm.addPerson($item)" on-remove="vm.removePerson($item)" theme="bootstrap" sortable="true" close-on-select="true" style="width: 100%;">
                                <ui-select-match placeholder="Select person...">{{$item.first_name}} {{$item.last_name}} ({{$item.birthday}})</ui-select-match>
                                <ui-select-choices repeat="p in vm.persons | propsFilter: {first_name: $select.search, last_name: $select.search}">
                                    <div ng-bind-html="(p.first_name + ' ' + p.last_name) | highlight: $select.search"></div>
                                    <small>
                                        email: <span ng-bind-html="''+p.email| highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            <div class="padding-5">* To add/remove rows, please click above input box.</div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Name:</label>
                        <div class="col-md-8">
                            <div class="form-control border-white">{{vm.getPersonById(vm.currRow.person_id)['first_name']}} {{vm.getPersonById(vm.currRow.person_id)['last_name']}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Birthday:</label>
                        <div class="col-md-8">
                            <div class="form-control border-white">{{vm.getPersonById(vm.currRow.person_id)['birthday']}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Identifier:</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Identifier" type="text" ng-model="vm.currRow.identifier">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Player Number:</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Player Number" type="text" ng-model="vm.currRow.player_number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Position:</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.currRow.position_id">
                                <option ng-repeat="p in vm.positions" value="{{p.id}}">{{p.position_name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <loading visible="vm.loadingImportData"></loading>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="importModalLabel">Import players information</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 form-horizontal">
                            <label class="control-label">{{vm.getClubById(vm.currClubId)['club_name']}}, {{vm.getTeamById(vm.currTeamId)['team_name']}}</label>
                        </div>
                        <div class="col-xs-8 form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">File to import</label>
                                <div class="col-md-10">
                                    <input type="file" class="btn btn-default" id="importFile" onchange="angular.element(this).scope().uploadFile(this.files)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <article class="col-sm-12">
                            <div class="margin-bottom-0" jarvis-widget data-widget-color="darken" data-widget-editbutton="false" data-widget-deletebutton="false">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                                    <h2>Imported Data</h2>
                                </header>
                                <div>
                                    <div class="widget-body no-padding">
                                        <div class="container-fluid">
                                            <div class="row padding-top-10">
                                                <div class="col-xs-3 padding-bottom-10">
                                                    <input class="form-control" placeholder="Search ...">
                                                </div>
                                                <div class="col-xs-3"></div>
                                                <div class="col-xs-6 text-right">
                                                    <ul class="pagination margin-top-0 margin-bottom-0">
                                                        <li ng-class="{disabled:vm.importedPager.currentPage === 1}">
                                                            <a ng-click="vm.setImportedPage(1)">First</a>
                                                        </li>
                                                        <li ng-class="{disabled:vm.importedPager.currentPage === 1}">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage - 1)">Previous</a>
                                                        </li>

                                                        <li ng-if="vm.importedPager.currentPage - 1 > 1">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage - 2)">{{vm.importedPager.currentPage - 2}}</a>
                                                        </li>
                                                        <li ng-if="vm.importedPager.currentPage > 1">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage - 1)">{{vm.importedPager.currentPage - 1}}</a>
                                                        </li>
                                                        <li class="active">
                                                            <a>{{vm.importedPager.currentPage}}</a>
                                                        </li>
                                                        <li ng-if="vm.importedPager.currentPage + 1 <= vm.importedPager.totalPages">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage + 1)">{{vm.importedPager.currentPage + 1}}</a>
                                                        </li>
                                                        <li ng-if="vm.importedPager.currentPage + 2 <= vm.importedPager.totalPages">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage + 2)">{{vm.importedPager.currentPage + 2}}</a>
                                                        </li>

                                                        <li ng-class="{disabled:vm.importedPager.currentPage === vm.importedPager.totalPages}">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage + 1)">Next</a>
                                                        </li>
                                                        <li ng-class="{disabled:vm.importedPager.currentPage === vm.importedPager.totalPages}">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.totalPages)">Last</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 table-responsive padding-bottom-10">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr ng-if="vm.importedRows.length">
                                                            <th><input type="checkbox" ng-change="vm.checkAll()" ng-model="vm.allCheck"></th>
                                                            <th ng-repeat="(key, val) in vm.importedHeaders">{{val}}</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        <tr ng-repeat="row in vm.importedCurrRows track by $index" ng-class="{'selected-row':(row.checked), 'text-grey':row.isExist > 0, 'text-danger': row.isSubRow == 1}">
                                                            <td><input type="checkbox" ng-model="row.checked" ng-if="row.isSubRow == 0"></td>
                                                            <td ng-repeat="(ind, headerTxt) in vm.importedHeaders"
                                                                ng-click="row.checked = (!row.checked && row.isSubRow == 0)">
                                                                {{row[ind]}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="!vm.importedRows.length">
                                                            <td class="text-center"><br>Please choose a file to be imported.<br><br></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row margin-top-10 margin-bottom-10">
                                                <div class="col-xs-6">
                                                    <ul class="pagination margin-top-0 margin-bottom-0">
                                                        <li ng-class="{disabled:vm.importedPager.currentPage === 1}">
                                                            <a ng-click="vm.setImportedPage(1)">First</a>
                                                        </li>
                                                        <li ng-class="{disabled:vm.importedPager.currentPage === 1}">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage - 1)">Previous</a>
                                                        </li>

                                                        <li ng-if="vm.importedPager.currentPage - 1 > 1">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage - 2)">{{vm.importedPager.currentPage - 2}}</a>
                                                        </li>
                                                        <li ng-if="vm.importedPager.currentPage > 1">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage - 1)">{{vm.importedPager.currentPage - 1}}</a>
                                                        </li>
                                                        <li class="active">
                                                            <a>{{vm.importedPager.currentPage}}</a>
                                                        </li>
                                                        <li ng-if="vm.importedPager.currentPage + 1 <= vm.importedPager.totalPages">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage + 1)">{{vm.importedPager.currentPage + 1}}</a>
                                                        </li>
                                                        <li ng-if="vm.importedPager.currentPage + 2 <= vm.importedPager.totalPages">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage + 2)">{{vm.importedPager.currentPage + 2}}</a>
                                                        </li>

                                                        <li ng-class="{disabled:vm.importedPager.currentPage === vm.importedPager.totalPages}">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.currentPage + 1)">Next</a>
                                                        </li>
                                                        <li ng-class="{disabled:vm.importedPager.currentPage === vm.importedPager.totalPages}">
                                                            <a ng-click="vm.setImportedPage(vm.importedPager.totalPages)">Last</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    {{vm.getCheckedImportedRows().length}}
                                                    person{{vm.getCheckedImportedRows().length > 1 ? 's are' : ' is'}} selected in {{vm.importedRows.length}} persons.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.import()">Import</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>