<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Player Management']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="row margin-bottom-10 form-horizontal">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <label class="col-xs-2 text-right control-label">Team:</label>
            <div class="col-xs-10">
                <select class="form-control" ng-change="vm.getData()" ng-model="vm.currTeamId">
                    <option ng-repeat="team in vm.teams" value="{{team.id}}">{{team.team_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9 text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="vm.addNew()">Add New</button>
        </div>
    </div>

    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Player Management</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered table-text-center">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Player ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Birthday</th>
                                        <th>Player Number</th>
                                        <th>Position</th>
                                        <th>Email</th>
                                        <th>Cell</th>
                                        <th>Emergency Contact Name</th>
                                        <th>Emergency Contact Number</th>
                                        <th>Emergency Contact Email</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in vm.tableData" ng-dblclick="vm.openModal(row.id)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.identifier}}</td>
                                        <td>{{row.first_name}}</td>
                                        <td>{{row.last_name}}</td>
                                        <td>{{row.birthday}}</td>
                                        <td>{{row.player_number}}</td>
                                        <td>{{vm.getPositionById(row.position_id)['short_name']}}</td>
                                        <td>{{row.player_email}}</td>
                                        <td>{{row.player_cell}}</td>
                                        <td>{{row.emergency_cont_name}}</td>
                                        <td>{{row.emergency_cont_num}}</td>
                                        <td>{{row.emergency_cont_email}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="vm.editRow(row.id)" data-toggle="modal" data-target="#myModal">Edit</a> /
                                            <a ng-click="vm.deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Player ID</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Player ID" type="text" ng-model="vm.currRow.identifier">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">First Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="First Name" type="text" ng-model="vm.currRow.first_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Last Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Last Name" type="text" ng-model="vm.currRow.last_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Birthday</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Birthday" type="text" ng-model="vm.currRow.birthday">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Player Number</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Player Number" type="text" ng-model="vm.currRow.player_number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Position</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.currRow.position_id">
                                <option ng-repeat="position in vm.positions" value="{{position.id}}">{{position.short_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Player Email</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Player Email" type="email" ng-model="vm.currRow.player_email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Player Cell</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Player Cell" type="text" ng-model="vm.currRow.player_cell">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Emergency Contact Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Emergency Contact Name" type="text" ng-model="vm.currRow.emergency_cont_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Emergency Contact Num</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Emergency Contact Num" type="text" ng-model="vm.currRow.emergency_cont_num">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Emergency Contact Email</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Emergency Contact Email" type="text" ng-model="vm.currRow.emergency_cont_email">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
