<loading visible="loading"></loading>
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Positions Management']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="row margin-bottom-10 form-horizontal">
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
            <label class="col-xs-4 text-right control-label">Sport Type:</label>
            <div class="col-xs-8">
                <select class="form-control" ng-change="getData()" ng-model="currSportId">
                    <option ng-repeat="sport in sports" value="{{sport.id}}">{{sport.sport_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8 text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="addRow()">Add New</button>
        </div>
    </div>

    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Positions Management</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table st-table="tableData" st-safe-src="safeData" st-select-mode="multiple" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">No</th>
                                        <th st-sort="position_name">Position Name</th>
                                        <th st-sort="short_name">Short Name</th>
                                        <th rowspan="2">Action</th>
                                    </tr>
                                    <tr>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="position_name"/>
                                        </th>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="short_name"/>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tableData" ng-dblclick="editRow(row)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.position_name}}</td>
                                        <td>{{row.short_name}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="editRow(row)">Edit</a> /
                                            <a ng-click="deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Position Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Position Name" type="text" ng-model="currRow.position_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Short Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Short Name" type="text" ng-model="currRow.short_name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
