<loading visible="loading"></loading>
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Record Items Management']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="text-right margin-bottom-10">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="addRow()">Add New</button>
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Record Items</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table st-table="tableData" st-safe-src="safeData" st-select-mode="multiple" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">No</th>
                                        <th st-sort="item_name">Record Item Name</th>
                                        <th st-sort="short_name">Short Name</th>
                                        <th rowspan="2">Item Type</th>
                                        <th rowspan="2">Referee Input</th>
                                        <th rowspan="2">Coach Input</th>
                                        <th rowspan="2">Action</th>
                                    </tr>
                                    <tr>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="item_name"/>
                                        </th>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="item_name"/>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tableData" ng-dblclick="editRow(row)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.item_name}}</td>
                                        <td>{{row.short_name}}</td>
                                        <td>{{itemTypes[row.item_type]}}</td>
                                        <td>{{row.is_referee == '1' ? 'Yes' : 'No'}}</td>
                                        <td>{{row.is_coach == '1' ? 'Yes' : 'No'}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="editRow(row)">Edit</a> /
                                            <a ng-click="deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Record Item Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Item Name" type="text" ng-model="currRow.item_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Short Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Short Name" type="text" ng-model="currRow.short_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Item Type</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="currRow.item_type">
                                <option ng-repeat="(key, val) in itemTypes" value="{{key}}">{{val}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Referee Input</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="currRow.is_referee">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Coach Input</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="currRow.is_coach">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
