<loading visible="loading"></loading>
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Referee Schedules']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="row margin-bottom-10 form-horizontal">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="col-xs-12">
                <select class="form-control" ng-change="getData()" ng-model="pageType">
                    <option value="0">Referee Assigner</option>
                    <option value="1">Individual Referee</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10 text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="addRow()">Add New</button>
        </div>
    </div>

    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Referee Schedules</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table st-table="tableData" st-safe-src="safeData" st-select-mode="multiple" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">No</th>
                                        <th st-sort="sport_name">Game #</th>
                                        <th rowspan="2">Date</th>
                                        <th rowspan="2">Time</th>
                                        <th rowspan="2">Duration</th>
                                        <th st-sort="location_name">Location</th>
                                        <th rowspan="2">League</th>
                                        <th rowspan="2">Age Group</th>
                                        <th st-sort="referee_name">Assignment</th>
                                        <th rowspan="2">Status</th>
                                        <th rowspan="2">Action</th>
                                    </tr>
                                    <tr>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="game_name"/>
                                        </th>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="field_name"/>
                                        </th>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="referee_name"/>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tableData" ng-dblclick="editRow(row)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.game_name}}</td>
                                        <td>{{row.game_date}}</td>
                                        <td>{{row.start_time}}</td>
                                        <td>{{row.duration}}</td>
                                        <td>{{row.field_name}}</td>
                                        <td>{{row.competition_name}}({{row.game_date.substr(0, 4)}})</td>
                                        <td>{{ageGroups[row.age_group]}}</td>
                                        <td>{{row.referee_name}}</td>
                                        <td>{{statuses[row.status]}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="editRow(row)">Edit</a> /
                                            <a ng-click="deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    <tr ng-if="!tableData.length">
                                        <td colspan="11" class="text-center"><br/>There is no any referee schedules.<br/><br/></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="11" class="text-center">
                                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">League / Game</label>
                        <div class="col-md-4">
                            <select class="form-control"
                                    ng-change="getGames()"
                                    ng-options="item as (item.competition_name + '(' + item.start_date.substr(0, 4) + ')') for item in leagues track by item.id" ng-model="currLeague">
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" ng-options="item as item.game_name for item in games track by item.id" ng-model="currGame"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Club / Referee</label>
                        <div class="col-md-4">
                            <select class="form-control"
                                    ng-change="getReferees()"
                                    ng-options="item as item.club_name for item in clubs track by item.id" ng-model="currClub">
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" ng-options="item as (item.first_name + ' ' + item.last_name) for item in referees track by item.id" ng-model="currReferee">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Status</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="currRow.status">
                                <option ng-repeat="item in statuses track by $index" value="{{$index}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
