<footer class="animated fadeIn footer-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 padding-0">
                <img class="img-responsive" src="./styles/img/home/home_bg_4.jpg">
            </div>
            <div class="col-sm-4 padding-0">
                <h2 class="text-center">News Feed</h2>
            </div>
            <div class="col-sm-4 padding-0">
                <img class="img-responsive" src="./styles/img/home/home_bg_5.jpg">
            </div>
        </div>
    </div>
    <!--<div class="bottom-menu">
        <div class="display-inline" ui-sref-active="active"><a ui-sref="home">HOME</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="about">ABOUT US</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="teams">TEAMS</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="calendar">CALENDAR</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="news">NEWS</a></div>
    </div>
    <hr class="margin-top-5 margin-bottom-5"/>
    <div class="text-grey padding-20">
        <a class="cursor-pointer">Terms and Conditions</a> |
        <a class="cursor-pointer">Home</a> |
        <a class="cursor-pointer">Privacy Policy</a>
    </div>-->
</footer>ss