<footer class="animated fadeInDown footer-section">
    <div class="bottom-menu">
        <div class="display-inline" ui-sref-active="active"><a ui-sref="home">HOME</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="about">ABOUT US</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="teams">TEAMS</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="calendar">CALENDAR</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="news">NEWS</a></div>
    </div>
    <hr class="margin-top-5 margin-bottom-5"/>
    <div class="text-grey padding-20">
        <a class="cursor-pointer">Terms and Conditions</a> |
        <a class="cursor-pointer">Home</a> |
        <a class="cursor-pointer">Privacy Policy</a>
    </div>
</footer>ss